<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Luca Ferrara</string>
	<key>Buffer Order</key>
	<array>
		<string>License</string>
		<string>Main</string>
		<string>Dependencies</string>
		<string>Tween</string>
		<string>TweenDelay</string>
		<string>Transition</string>
		<string>TweenEase</string>
		<string>Bezier</string>
		<string>TweenBezier</string>
		<string>TweenParallel</string>
		<string>TweenLoop</string>
		<string>TweenSequence</string>
	</array>
	<key>Created</key>
	<string>2012-04-26 05:09:36 +0000</string>
	<key>Dependencies</key>
	<array/>
	<key>Description</key>
	<string>Texture Packer - Texture Atlas and animation</string>
</dict>
</plist>
