<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>Base64</string>
		<string>Debugea</string>
		<string>Deflate</string>
		<string>Json</string>
		<string>XmlParser</string>
	</array>
	<key>Created</key>
	<string>2012-07-27 06:35:27 +0000</string>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
